*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 94, 0);
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.container{
    padding: 20px;
    width: auto;
    display: grid;
    grid-template:  repeat(7, 40px) / repeat(7, 40px) ;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.month{
    height: 100%;
    width: 100%;
    grid-column: 1 / 5;

}
.year{
    height: 100%;
    width: 100%;
    grid-column: 5 / -1;

}

day , date{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items:  center;
}
day{
    background-color: rgb(0, 255, 170);
    border-radius: 5px;
}
date:hover {
    background-color: aqua;
    border: 1px solid rgb(0, 0, 0);
}
.other{
    color: rgba(0, 0, 0, 0.534);
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid aquamarine;
}
.seven{
    background-color: aqua;
    border: 1px solid rgb(0, 0, 0);
}